/*police raleway*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Raleway", sans-serif;
}
body {
  background-image: url("images/fond.png");
}
header {
  background-image: url("images/header2.jpg");

  background-repeat: repeat;

  padding: 0rem 0rem 4rem 0rem;
}
.logo img {
  background-color: rgba(200, 220, 221, 0.5);
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff, 1px 1px 10px #948772;
  color: rgb(151, 84, 6);
  background-color: rgba(236, 229, 189, 0.5);
  text-align: center;

  margin-top: 2rem;
}
p {
  font-size: 1.2rem;
  text-indent: 2rem;
}
li {
  font-size: 1.2rem;
}
.soush1 {
  font-size: 2rem;
}
.titre {
  background-color: rgba(200, 220, 221, 0.1);
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}
mark {
  background-color: rgb(222, 204, 235);
}
/*nav*/

#menu-demo2,
#menu-demo2 ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
#menu-demo2 {
  margin-top: 5rem;
}
#menu-demo2 li {
  display: inline-block;
  position: relative;
  border-radius: 8px 8px 0 0;
}
#menu-demo2 ul li {
  display: inherit;
  border-radius: 0;
}
#menu-demo2 ul li:hover {
  border-radius: 0;
}
#menu-demo2 ul li:last-child {
  border-radius: 0 0 8px 8px;
}
#menu-demo2 ul {
  position: absolute;
  z-index: 1000;
  max-height: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -moz-transition: 0.8s all 0.3s;
  -webkit-transition: 0.8s all 0.3s;
  transition: 0.8s all 0.3s;
}
#menu-demo2 li:hover ul {
  max-height: 15em;
}
/* background des liens menus */
#menu-demo2 li:first-child {
  background-color: #65537a;
  background-image: -webkit-linear-gradient(top, #65537a 0%, #2a2333 100%);
  background-image: linear-gradient(to bottom, #65537a 0%, #2a2333 100%);
}
#menu-demo2 li:nth-child(2) {
  background-color: #729ebf;
  background-image: -webkit-linear-gradient(top, #729ebf 0%, #333a40 100%);
  background-image: linear-gradient(to bottom, #729ebf 0%, #333a40 100%);
}
#menu-demo2 li:nth-child(3) {
  background-color: #b69665;
  background-image: -webkit-linear-gradient(top, #b69665 0%, #706460 100%);
  background-image: linear-gradient(to bottom, #b69665 0%, #706460 100%);
}
#menu-demo2 li:last-child {
  background-color: #83a1a0;
  background-image: -webkit-linear-gradient(top, #83a1a0 0%, #687749 100%);
  background-image: linear-gradient(to bottom, #83a1a0 0%, #687749 100%);
}
/* background des liens sous menus */
#menu-demo2 li:first-child li {
  background: #7ab1bb;
}
#menu-demo2 li:nth-child(2) li {
  background: #7ab1bb;
}
#menu-demo2 li:nth-child(3) li {
  background: #b69665;
}
#menu-demo2 li:last-child li {
  background: #a2ac94;
}
/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover,
#menu-demo2 li:first-child li:hover {
  background: #a896bd;
}
#menu-demo2 li:nth-child(2):hover,
#menu-demo2 li:nth-child(2) li:hover {
  background: #31d9f7;
}
#menu-demo2 li:nth-child(3):hover,
#menu-demo2 li:nth-child(3) li:hover {
  background: #c5a57a;
}
#menu-demo2 li:last-child:hover,
#menu-demo2 li:last-child li:hover {
  background: #56a195;
}
/* les a href */
#menu-demo2 a {
  width: 12rem;
  text-decoration: none;
  display: block;
  padding: 8px 32px;
  color: #fff;
  font-family: arial;
  font-size: 2rem;
}
#menu-demo2 ul a {
  font-size: 1.2rem;
  padding: 8px 0;
}
#menu-demo2 li:hover li a {
  color: #fff;
  text-transform: inherit;
}
#menu-demo2 li:hover a,
#menu-demo2 li li:hover a {
  color: #000;
}
/*about me*/

.imageflottante {
  float: right;
  width: 22rem;
  transform: rotate(8deg);
  transition-duration: 500ms;
  padding: 0 0 0 2rem;
}
.imageflottante:hover {
  transform: rotate(0deg);
}
#aboutme {
  font-size: 1.2rem;
  padding: 1.5rem 3rem 4.5rem 2rem;
  text-align: justify;
  background-color: rgba(200, 220, 221, 0.6);
  text-indent: 2rem;
  margin-top: 1rem;
}
.aboutme i {
  font-size: 4rem;
  color: #5e5656;
  position: relative;
  left: 45%;
}
.aboutmeh2 {
  background-color: rgba(200, 220, 221, 0.2);
  text-align: center;
  padding: 0;
  margin: 0%;
  color: #5e5656;
}
/*index main*/
.accueil {
  display: flex;
  justify-content: space-evenly;
}
.accueil p {
  font-size: 1.2rem;
  text-align: justify;
}

.accueil section {
  margin: 2rem;
  padding: 1rem;
  background-color: #e0e8fa;
  border: 0.2rem solid #b6bdce;
  border-radius: 1rem;
}
.accueil section:hover {
  background-color: #cef0ed;
}
.accueil a {
  text-decoration: none;
  color: rgb(196, 143, 46);
}

/*sophrology*/
.h2centre {
  text-align: center;
  color: #5e5656;
  font-size: 2rem;
}
.sophro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: justify;
}
.sophro section {
  margin: 1rem;
  padding: 1rem;
  background-color: #e0e8fa;
  border: 0.2rem solid #b6bdce;
  border-radius: 1rem;
}
.sophro section:hover {
  background-color: #cef0ed;
}
.sophro1 {
  display: flex;
}
.sophro1 img {
  width: 18rem;
  margin: 0 2rem;
}
/*enfants*/
.imageflottante2 {
  float: right;
  width: 25rem;
  transform: rotate(8deg);
  transition-duration: 500ms;
  padding: 0 0 0 2rem;
  margin-right: 5rem;
}
.imageflottante2:hover {
  transform: rotate(0deg);
}
/*teens*/
.imageflottante3 {
  float: right;
  width: 25rem;
  transform: rotate(-8deg);
  transition-duration: 500ms;
  padding: 0 0 0 2rem;
  margin-right: 5rem;
}
.imageflottante3:hover {
  transform: rotate(0deg);
}
/*adults*/
.imageflottante4 {
  float: right;
  width: 18rem;
  transform: rotate(8deg);
  transition-duration: 1500ms;
  padding: 0 0 5rem 15rem;
  margin-right: 5rem;
}
.imageflottante4:hover {
  transform: rotate(-8deg);
}
/*business*/
.imageflottante5 {
  float: right;
  width: 14rem;
}
/*reiki*/
.imageflottante6 {
  float: right;
  width: 25rem;
  transform: rotate3d(0, 0, 0, 0deg);
  transition-duration: 10s;
  padding: 0 0 5rem 15rem;
  margin-right: 5rem;
}
.imageflottante6:hover {
  transform: rotate3d(150, 150, 150, 60deg);
}

.imageflottante7 {
  float: right;
  width: 25rem;
  transform: rotate3d(0, 0, 0, 0deg);
  transition-duration: 10s;
  padding: 0 0 5rem 15rem;
  margin-right: 5rem;
}
.imageflottante7:hover {
  transform: rotate3d(150, 150, 150, -60deg);
}
