.logo img {
  width: 75%;
  background-color: rgba(200, 220, 221, 0.6);
}

h1 {
  font-size: 3rem;

  padding: 0.1rem;
  border-radius: 3rem;
  margin: 5rem 3rem 2rem 3rem;
}
.h2centre {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.7rem;
}
p {
  font-size: 1.5rem;
}
li {
  font-size: 1.5rem;
  text-align: left;
}
/*nav*/
#menu-demo2 a {
  font-size: 2.6rem;
  width: 17rem;
}
#menu-demo2 ul a {
  font-size: 1.8rem;
}
/*about me*/
.imageflottante {
  float: right;
  width: 22rem;
  transform: none;
}
#aboutme p {
  font-size: 1.7rem;
  padding: 0 0.5rem;
  text-indent: 5rem;
}
.aboutmeh2 {
  font-size: 3rem;
  padding: 0;
}

/*footer*/
#social-platforms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: visible;
  justify-content: center;
}
