/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

strong {
  font-weight: 400;
}
.logo img {
  width: 80%;
  background-color: rgba(200, 220, 221, 0.7);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
* {
  width: auto;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}
body {
  width: auto;
  margin: 0;
  padding: 0;
}
header {
  background-size: auto;
  padding: auto;
}
h1 {
  font-size: 2.5rem;
  color: rgb(70, 39, 3);
  background-color: rgba(236, 229, 189, 0.6);
  margin: 1rem auto 4rem auto;
  padding: 3rem 0;
  border-radius: 3rem;
}
p {
  font-size: 1.3rem;
  text-align: left;
}
li {
  font-size: 1.3rem;
  text-align: left;
}
.soush1 {
  font-size: 1.5rem;
}
/*nav*/
#menu-demo2 {
  margin-top: 5rem;
}
#menu-demo2 a {
  font-size: 2.5rem;
  width: 15rem;
}
#menu-demo2 ul a {
  font-size: 1.8rem;
}
/*about me*/
.imageflottante {
  -webkit-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  padding: 0 0 15rem 2rem;
}
.aboutmeh2 {
  font-size: 2rem;
}
#aboutme p {
  font-size: 1.3rem;
  padding: 0;
  text-align: justify;
  text-indent: 2rem;
}
.aboutme i {
  position: relative;
  left: 25%;
}
/*index main*/
.accueil {
  display: block;
}
/*sophro*/
.sophro1 {
  display: block;
}
#zen img {
  width: 15rem;
  margin: auto;
}
.imageflottante,
.imageflottante2,
.imageflottante3,
.imageflottante4,
.imageflottante5,
.imageflottante6,
.imageflottante7 {
  float: none;
  width: 15rem;
  padding: 0;
  margin: auto;
}
/*contact*/
.maintenance {
  width: 22rem;
  padding-top: 5rem;
}
#sorry {
  text-align: center;
  font-size: 1.5rem;
  padding: 5rem 1rem 0 1rem;
}

/*footer*/
footer {
  background-image: none;
  background-color: rgb(240, 242, 245);
  display: block;
  border: 1rem none;
  border-radius: 1rem;
  margin: 0;
}
#logofooterzero {
  display: none;
}

#social-platforms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: visible;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.choix-langue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.choix-langue img {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.choix {
  white-space: nowrap;
  overflow: hidden;
}
.choix-langue-pays,
.choix-langue-pays2 {
  width: auto;
  padding: 0 4rem;
}
.choix-langue :nth-child(1) {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}
.choix-langue :nth-child(2) {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.choix-langue :nth-child(3) {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.choix-langue :nth-child(4) {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}
