/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

strong {
  font-weight: 400;
}
.logo img {
  width: 75%;
  background-color: rgba(200, 220, 221, 0.6);
}

h1 {
  font-size: 3rem;

  padding: 0.1rem;
  border-radius: 3rem;
  margin: 5rem 3rem 2rem 3rem;
}
.h2centre {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.7rem;
}
p {
  font-size: 1.5rem;
}
li {
  font-size: 1.5rem;
  text-align: left;
}
/*nav*/
#menu-demo2 a {
  font-size: 2.6rem;
  width: 17rem;
}
#menu-demo2 ul a {
  font-size: 1.8rem;
}
/*about me*/
.imageflottante {
  float: right;
  width: 22rem;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
#aboutme p {
  font-size: 1.7rem;
  padding: 0 0.5rem;
  text-indent: 5rem;
}
.aboutmeh2 {
  font-size: 3rem;
  padding: 0;
}
/*contact*/
.maintenance {
  width: 15rem;
  padding-top: 2rem;
}
/*footer*/
#social-platforms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: visible;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/*choix langue*/
.choix-langue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.choix-langue img {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.choix {
  white-space: nowrap;
  overflow: hidden;
}
.choix-langue-pays,
.choix-langue-pays2 {
  width: 45%;
  padding: 1rem 1rem;
}
.choix-langue :nth-child(1) {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}
.choix-langue :nth-child(2) {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.choix-langue :nth-child(3) {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.choix-langue :nth-child(4) {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}
.choix-langue img {
  width: 15rem;
  height: 15rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.form {
  width: 80%;
  height: 20rem;
}

.contact figcaption {
  width: 80%;
}
